**/.DS_Store

# Ignore Gradle project-specific cache directory
java-app/.gradle
java-app/.gradletasknamecache
java-app/*.class

# Ignore Gradle build output directory
java-app/bin
java-app/build/

# Ignore k6 report
k6/result.html

**/terraform-docker/*.tfstate*
**/terraform-docker/.terraform